<h1>Ajouter un jeux</h1>
<div class="container-form">
  <form [formGroup]="gameFormGroup">
    <label for="title">
      title:
      <input placeholder="title" type="text" name="title" formControlName="title" />
    </label>
    <label for="urlImage">
      urlImage:
      <input placeholder="urlImage" type="text" name="urlImage" formControlName="urlImage" />
    </label>
    <label for="description">
      description:
      <textarea placeholder="description" type="text" name="description" formControlName="description"></textarea>
    </label>
    <button (click)="addGame()" type="button">Valider</button>
  </form>
</div>
