<h1>Ajouter un jeux</h1>
<div class="container-form">
  <form>
    <label for="title">
      title:
      <input placeholder="title" type="text" formControlName="title" />
    </label>
    <label for="urlImage">
      urlImage:
      <input placeholder="urlImage" type="text" formControlName="urlImage" />
    </label>
    <label for="description">
      description:
      <textarea placeholder="description" type="text" formControlName="description"></textarea>
    </label>
    <button type="button">Valider</button>
  </form>
</div>
