.container-top-bar {
  width: 100;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-bottom: 1px solid white;
  .container-title {
    display: flex;
    width: 50%;
    h1 {
      color: white;
    }
  }
  .container-home-link {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    a {
      color: white;
      cursor: pointer;
      font-size: 1.5rem;
      text-decoration: none;
    }
    a:hover {
      color: lightgreen;
    }
  }
}
